node_modules/
dist/

# Next.js
.next
next-env.d.ts

# TypeScript
*.tsbuildinfo

# Environment variables
.env.local
.env*.local

# Elixir
_build/
deps/
*.beam
*.ez
**/priv/static/

.nx
project-graph.json
context_portal/

test-output
