{
  "proseWrap": "always",
  "tabWidth": 2,
  "useTabs": false,
  "plugins": ["prettier-plugin-svelte"],
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
