name: release

on:
  push:
    branches:
      - master
    tags:
      - v*.*.*
      - "*.*.*"
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  release:
    permissions:
      contents: write
      packages: write
    name: Release apps and packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Prepare Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm ci --legacy-peer-deps

      - name: Packages release (preview)
        if: >
          github.event_name == 'push' &&
          github.ref == 'refs/heads/master'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx nx release --groups=packages --dry-run --verbose --skip-publish

      - name: Apps release (preview)
        if: >
          github.event_name == 'push' &&
          github.ref == 'refs/heads/master'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx nx release --groups=apps --dry-run --verbose --skip-publish

      - name: Release packages
        if: >
          github.event_name == 'workflow_dispatch' ||
          startsWith(github.ref, 'refs/tags/')
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx nx release --groups=packages

      - name: Release apps
        if: >
          github.event_name == 'workflow_dispatch' &&
          github.ref == 'refs/heads/master'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx nx release --groups=apps --skip-publish

  docker:
    name: Build and Push Docker Image to GHCR
    runs-on: ubuntu-latest
    needs: release
    if: >
      github.event_name == 'push' || 
      github.event_name == 'workflow_dispatch'
    env:
      REGISTRY: ghcr.io
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        app:
          - ash_framework
          - nextjs
          - phoenix_framework

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ matrix.app }}
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha,prefix=,format=short
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./apps/${{ matrix.app }}
          file: ./apps/${{ matrix.app }}/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha,scope=${{ matrix.app }}
          cache-to: type=gha,mode=max,scope=${{ matrix.app }}
          platforms: linux/amd64,linux/arm64
