name: release

on:
  push:
    branches:
      - master
    tags:
      - v*.*.*
      - "*.*.*"
  workflow_dispatch:
    inputs:
      release_type:
        description: "Release"
        required: true
        type: choice
        options:
          - packages
          - apps

permissions:
  contents: read

jobs:
  metadata:
    name: Collect data about app
    runs-on: ubuntu-latest
    outputs:
      apps: ${{ steps.matrix.outputs.apps }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Prepare Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Generate matrix apps
        id: matrix
        run: |
          APPS=$(npx nx show projects --type app --json | jq -c 'map({app: .}) | {include: .}')
          echo "apps=$APPS" >> $GITHUB_OUTPUT
          echo "Current apps: $APPS"

  release:
    concurrency:
      group: release-${{ github.ref }}
      cancel-in-progress: true
    permissions:
      contents: write
      packages: write
      actions: read
      pull-requests: read
    name: Release apps and packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          filter: tree:0

      - name: Prepare Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Set SHAs for affected detection
        uses: nrwl/nx-set-shas@v4

      - name: Detect affected projects
        id: affected
        run: |
          PACKAGES=$(npx nx show projects --type lib --affected | paste -sd ',')
          APPS=$(npx nx show projects --type app --affected | paste -sd ',')
          echo "packages=$PACKAGES" >> $GITHUB_OUTPUT
          echo "apps=$APPS" >> $GITHUB_OUTPUT
          echo "Found affected packages: $PACKAGES"
          echo "Found affected apps: $APPS"

      - name: Release packages (preview)
        if: >
          github.event_name == 'push' &&
          github.ref == 'refs/heads/master'
        run: |
          npx nx run-many -t build -p ${{ steps.affected.outputs.packages }} --parallel
          npx nx release --projects=${{ steps.affected.outputs.packages }} --dry-run --verbose

      - name: Release apps (preview)
        if: >
          github.event_name == 'push' &&
          github.ref == 'refs/heads/master'
        run: npx nx release --projects=${{ steps.affected.outputs.apps }} --dry-run --verbose

      - name: Release packages
        if: >
          github.event_name == 'workflow_dispatch' &&
          github.ref == 'refs/heads/master' &&
          github.event.inputs.release_type == 'packages'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npx nx run-many -t build -p ${{ steps.affected.outputs.packages }} --parallel
          npx nx release --projects=${{ steps.affected.outputs.packages }}

      - name: Release apps
        if: >
          github.event_name == 'workflow_dispatch' &&
          github.ref == 'refs/heads/master' &&
          github.event.inputs.release_type == 'apps'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx nx release --projects=${{ steps.affected.outputs.apps }} --skip-publish

  docker:
    name: Build and Push Docker Image to GHCR
    runs-on: ubuntu-latest
    needs: [release, metadata]
    env:
      REGISTRY: ghcr.io
    permissions:
      contents: read
      packages: write
    strategy:
      matrix: ${{ fromJson(needs.metadata.outputs.apps) }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ matrix.app }}
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha,prefix=,format=short
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./apps/${{ matrix.app }}
          file: ./apps/${{ matrix.app }}/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha,scope=${{ matrix.app }}
          cache-to: type=gha,mode=max,scope=${{ matrix.app }}
          platforms: linux/amd64,linux/arm64
